@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100&family=Open+Sans:wght@700&family=Raleway&family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

@media screen and (max-width: 1170px) {
	body {
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 16px;
		padding-right: 16px;
	}
}

header {
	width: 1510px;
	height: 1026px;
	background: rgba(0, 0, 0, 0.5) url("../background/image fon-one.jpg");
	background-blend-mode: darken;

}

.row {
	background-color: #000000;
	width: 1510px;
	height: 75px;
	position: relative;
}

.container-row {
	display: none;
}

.navigation {
	display: inline-block;
	width: 565px;
	height: 75px;
	position: absolute;
	margin-left: 471px;
	padding-top: 30px;
}

.link {
	display: inline-block;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	width: 100px;
	height: 75px;
	text-decoration: none;
}

.logotip-one {
	margin-left: 116px;
}

.logotip-two {
	display: inline-block;
	width: 270px;
	height: 100px;
	margin: 208px 430px 51px 170px;
}

.title-header {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
	width: 670px;
	height: 168px;
	margin: 0 30px 55px 170px;
	display: inline-block;
}

.separator-one {
	border-top: 1px solid rgba(255, 255, 255, 1);
	width: 170px;
	height: 0px;
	margin: 0 530px 42px 170px;
	display: inline-block;
}

.text-header {
	width: 270px;
	height: 42px;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 1);
	margin: 0 430px 42px 170px;
}

.button-header {
	width: 270px;
	height: 58px;
	margin: 0px 1070px 185px 170px;
	background-color: inherit;
	border: 1px solid rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	cursor: pointer;
}

.button-header :focus,
.button-header:hover {
	background-color: rgba(255, 255, 255, 0.103);
}

.form-header {
	position: absolute;
	display: inline-block;
	width: 470px;
	height: 450px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	margin-top: 208px;
	margin-left: 870px;
	z-index: 9;
}

.title-form {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
	color: #333333;
	display: inline-block;
	width: 367px;
	height: 90px;
	margin: 0 52px;
	text-align: center;
	padding-top: 40px;
}

.color-text {
	display: inline-block;
	color: #EC7979;
}

.form__input-header {
	border: none;
	border-bottom: 1px solid rgba(189, 189, 189, 1);
	outline: none;
	width: 370px;
	padding-bottom: 10px;
	background-color: transparent;
	transition: 0.3s;
}

.form__label-header {
	position: absolute;
	left: 0;
	z-index: -1;
	color: #BDBDBD;
	transition: 0.3s;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	transition: 0.3s;
}

.form__input-header:focus {
	border-bottom: 1px solid rgb(26, 25, 25);
}

.form__input-header:focus~.form__label-header,
.form__input-header:not(:placeholder-shown)~.form__label-header {
	top: -18px;
	font-size: 12px;
}

.form__group-header-one {
	position: relative;
	margin: 45px 50px 0;
}

.form__group-header-two {
	position: relative;
	margin: 33px 50px 0;
}

.form__group-header-three {
	position: relative;
	margin: 33px 50px 104px;
}

.btn-header {
	width: 470px;
	height: 60px;
	background: #EC7979;
	border-radius: 0px 0px 10px 10px;
	position: absolute;
	cursor: pointer;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
}

.btn-header:focus,
.btn-header:hover {
	background-color: #ec7979cc;
}

@media screen and (max-width: 1024px) {
	header {
		max-width: 1024px;
		height: 768px;
		margin: 0 auto;
	}

	.row {
		width: 1024px;
		height: 75px;
	}

	.container-row {
		display: none;
	}

	.navigation {
		margin-left: 235px;
	}

	.logotip-one {
		margin-left: 116px;
	}

	.logotip-two {
		width: 183px;
		height: 74px;
		margin: 136px 307px 37px 115px;
	}

	.title-header {
		font-size: 36px;
		line-height: 42px;
		width: 454px;
		height: 126px;
		margin: 0 36px 41px 115px;
	}

	.separator-one {
		width: 115px;
		margin: 0 375px 31px 115px;
	}

	.text-header {
		width: 183px;
		height: 32px;
		font-size: 14px;
		line-height: 16px;
		margin: 0 307px 31px 115px;
	}

	.button-header {
		width: 183px;
		height: 50px;
		margin: 0px 307px 131px 115px;
	}

	.form-header {
		width: 398px;
		height: 450px;
		margin-top: 137px;
		margin-left: 606px;
	}

	.title-form {
		font-size: 18px;
		line-height: 25px;
		width: 298px;
		height: 90px;
		margin: 0 50px;
		padding-top: 30px;
	}

	.form__input-header {
		width: 298px;
	}

	.form__group-header-one {
		margin: 45px 50px 0;
	}

	.form__group-header-two {
		position: relative;
		margin: 33px 50px 0;
	}

	.form__group-header-three {
		position: relative;
		margin: 33px 50px 44px;
	}

	.btn-header {
		width: 398px;
		height: 60px;
		margin-top: 62px;
	}
}

@media screen and (max-width: 340px) {
	header {
		width: 340px;
		height: 1056px;
		background: rgba(0, 0, 0, 0.5) url("../background/image-fon-mini.svg");
		background-blend-mode: darken;
		object-fit: cover;
	}

	.row {
		display: none;
	}

	.container-row {
		display: inline-block;
		width: 340px;
		height: 56px;
		background-color: #000000;
		position: relative;
		color: #ffffff;
		cursor: pointer;
	}

	.logotip-mini {
		margin-left: 20px;
	}

	#check-menu {
		display: none;
	}

	.burger-line {
		position: absolute;
		margin: 0px 35px 19px 261px;
		width: 24px;
		height: 3px;
		background-color: #ffffff;
		transition: 0.3s;
	}

	.burger-line:nth-of-type(1) {
		top: 23px;
	}

	.burger-line:nth-of-type(2) {
		top: 31px;
	}

	.burger-line:nth-of-type(3) {
		top: 31px;
	}

	.burger-line:nth-of-type(4) {
		top: 39px;
	}

	.main-menu {
		display: block;
		position: absolute;
		width: 340px;
		height: 404px;
		bottom: 0;
		left: 0;
		max-height: 0;
		font-size: 0;
		overflow: hidden;
		transition: 00.3s;
		transform: translateY(100%);
	}

	.main-menu a {
		display: block;
		width: 340px;
		height: 67px;
		padding-top: 30px;
		color: #ffffff;
		background-color: #000000;
		text-decoration: none;
		text-align: center;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		text-transform: capitalize;
		border: 1px solid black;
		outline: 0;
	}

	.linc-bottom {
		width: 340px;
		height: 100px;
		background-color: #000000;
	}



	#check-menu:checked~.main-menu {
		max-height: 600px;
		font-size: 16px;
		margin: 0;
		padding-top: 0;
	}

	#check-menu:checked~.burger-line:nth-of-type(1),
	#check-menu:checked~.burger-line:nth-of-type(4) {
		display: none;
	}

	#check-menu:checked~.burger-line:nth-of-type(2) {
		transform: rotate(45deg);
	}

	#check-menu:checked~.burger-line:nth-of-type(3) {
		transform: rotate(-45deg);
	}

	.logotip-two {
		display: none;
	}

	.title-header {
		font-size: 36px;
		line-height: 42px;
		width: 288px;
		height: 168px;
		margin: 84px 16px 43px;
		text-align: center;
	}

	.separator-one {
		width: 134px;
		margin: 0 93px 42px;
	}

	.text-header {
		width: 288px;
		height: 32px;
		font-size: 14px;
		line-height: 16px;
		margin: 0 16px 42px;
		text-align: center;
	}

	.button-header {
		width: 288px;
		height: 50px;
		margin: 0px 16px 56px;
	}

	.form-header {
		width: 288px;
		height: 381px;
		margin-top: 574px;
		margin-left: 16px;
	}

	.title-form {
		font-size: 14px;
		line-height: 19px;
		width: 240px;
		height: 90px;
		margin: 30px 24px 0px;
		padding-top: 20px;
	}

	.form__input-header {
		width: 240px;
		padding-bottom: 5px;
	}

	.form__group-header-one {
		margin: 0px 20px 0;
	}

	.form__group-header-two {
		margin: 33px 20px 0;
	}

	.form__group-header-three {
		position: relative;
		margin: 33px 20px 52px;
	}

	.btn-header {
		width: 288px;
		height: 60px;
		margin-top: 11px;
	}
}