footer {
	width: 1510px;
	height: 165px;
	background-color: #000000;
	position: relative;
}

.footer {
	display: flex;
	justify-content: space-between;
	width: 560px;
	margin: 42px 480px 32px;
	position: absolute;
}

.copyright {
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: inline-block;
	margin: 116px 170px 27px;
	width: 1169px;
	height: 21px;
	text-align: center;
}