footer {
	width: 1510px;
	height: 165px;
	background-color: #000000;
	position: relative;
}

.footer {
	display: flex;
	justify-content: space-between;
	width: 560px;
	margin: 42px 480px 32px;
	position: absolute;
}

.copyright {
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: inline-block;
	margin: 116px 170px 27px;
	width: 1169px;
	height: 21px;
	text-align: center;
}

.footer-mini {
	display: none;
}

@media screen and (max-width: 1024px) {
	footer {
		width: 1024px;
		height: 164px;
	}

	.footer {
		width: 560px;
		margin: 38px 280px 41px;
	}

	.copyright {
		font-size: 14px;
		line-height: 16px;
		margin: 118px 0px 30px;
		width: 1024px;
		height: 16px;
	}

	.footer-mini {
		display: none;
	}
}

@media screen and (max-width: 340px) {
	footer {
		width: 340px;
		height: 164px;
	}

	.footer {
		display: none;
	}

	.footer-mini {
		display: flex;
		justify-content: space-between;
		width: 280px;
		margin: 38px 23px 44px;
		position: absolute;
	}

	.copyright {
		font-size: 14px;
		line-height: 16px;
		margin: 103px 16px 45px;
		width: 288px;
		height: 16px;
	}
}