.block-why {
	display: inline-block;
	width: 1170px;
	height: 700px;
	margin: 50px 170px 58px;
}

.title-h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	margin: 40px 170px;
}

.title-one {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.separator {
	border-bottom: 1px solid #EC7979;
	width: 170px;
	height: 0;
	margin: 0 auto;
}

.desc {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
	width: 170px;
	height: 20px;
	display: inline;
	margin-top: 40px;
	text-align: center;
	width: 370px;
	height: 100px;
}

.desc-slogan {
	margin: 40px 170px 110px;
}

.content {
	display: inline-block;
	width: 370px;
	height: 390px;
}

.icon-wrapper {
	width: 170px;
	height: 170px;
	display: inline-block;
}

.icon {
	display: inline-block;
	width: 92px;
	height: 92px;
	margin: 39px;
}

.title-h4 {
	display: inline-block;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #000000;
	width: 370px;
	height: 100px;
}

.desc-info {
	width: 370px;
	height: 105px;
}

.desc-text {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #000000;
	margin-top: 8px;
}

.content-body {
	display: flex;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	.block-why {
		display: inline-block;
		width: 992px;
		height: 518px;
		margin: 50px 16px 58px;
	}

	.title-one {
		display: inline-block;
		text-align: center;
		width: 1024px;
		height: 190px;
	}

	.title-h2 {
		font-size: 24px;
		line-height: 24px;
		margin: 40px 170px;
	}

	.separator {
		width: 142px;
		height: 0;
		margin: 0 auto;
	}

	.desc {
		font-size: 14px;
		line-height: 26px;
		display: inline;
		margin-top: 9px;
		text-align: center;
	}

	.desc-slogan {
		margin: 32px 20px 65px;
	}

	.content {
		display: inline-block;
		width: 318px;
		height: 310px;
	}

	.icon-wrapper {
		width: 147px;
		height: 147px;
	}

	.icon {
		width: 79px;
		height: 79px;
	}

	.title-h4 {
		font-size: 18px;
		line-height: 25px;
		width: 317px;
		height: 60px;
	}

	.desc-info {
		width: 317px;
		height: 80px;
	}

	.desc-text {
		font-size: 14px;
		line-height: 16px;
		margin-top: 9px;
		width: 318px;
		height: 80px;
	}
}

@media screen and (max-width: 340px) {
	.block-why {
		width: 288px;
		height: 1199px;
		margin: 50px 16px 0px;
	}

	.title-one {
		display: inline-block;
		text-align: center;
		width: 288px;
		height: 150px;
	}

	.title-h2 {
		font-size: 18px;
		line-height: 21px;
		margin: 0px 16px 0px;
	}

	.separator {
		width: 134px;
		margin: 0 auto;
	}

	.desc {
		font-size: 13px;
		line-height: 15px;
		margin: 25px 16px 50px;
	}

	.desc-slogan {
		margin: 25px 16px 50px;
	}

	.content-body {
		display: flex;
		flex-wrap: wrap;
		width: 288px;
	}

	.content {
		display: inline-block;
		width: 318px;
		height: 310px;
	}

	.icon-wrapper {
		width: 147px;
		height: 147px;
	}

	.icon {
		width: 79px;
		height: 79px;
	}

	.title-h4 {
		font-size: 18px;
		line-height: 25px;
		width: 317px;
		height: 60px;
	}

	.desc-info {
		width: 317px;
		height: 80px;
	}

	.desc-text {
		font-size: 14px;
		line-height: 16px;
		margin-top: 9px;
		width: 318px;
		height: 80px;
	}
}